@font-face {
    font-family: Inter;
    src: url(/static/font/Inter.ttf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    list-style: none;
    color: #cedced;
}

:root {
    --blue: #00ADD8;
}

footer {
    background: #181818;
    display: flex;
    align-items: center;
    gap: 1.2em;
    padding: 1.3rem;
    flex-direction: column;
}

.copyright {
    color: #ccc;
}

.copyright a {
    color: #aaa;
}
